<footer>
    <img id="logotipo-rodape" class="img-logo" src="assets/img/noimage.jpeg" alt="Logotipo da game mania">
    <div class="enderecos-rodape1">
        <p>E-mail:</p>
        <p>game.mania@gggg.ccc</p>
    </div>
    <div class="enderecos-rodape2">
        <p>Endereço:</p>
        <p>Rua Alaska abgshd,000</p>
        <p>Bauru - SP CEP: 17 000 000</p>
    </div>
    <div class="enderecos-rodape3">
        <p>Telefone:</p>
        <p>(14) 55555-5555</p>
        <p>(14) 98888-8888</p>
    </div>
    <div id="midias-sociais">
        <a href="#"><img src="assets/img/insta.png" alt="Instagram"></a>
        <a href="#"><img src="assets/img/facebook.png" alt="facebook"></a>
        <a href="#"><img src="assets/img/twi.png" alt="Twitter"></a>
    </div>
</footer>