<section id="banner">
    <div class="banner-home">
        <img src="assets/img/flipe.jpeg" alt="banner da home">

        <section class="texto-apre">
            <h4>Descubra um mundo de possibilidades...</h4>
            <p>O fluxo do tempo é sempre cruel, sua velocidade parece diferente para cada pessoa, mas na Game Mania.
                Uma
                coisa não muda é a memória dos dias mais jovens. Com conforto da tecnologia moderna.</p>
            <a class="btn-banner" href="#" target="_blank">Saiba mais</a>
        </section>

    </div>
</section>

<section id="destaque">
    <h2 class="texto-centralizado">Destaques</h2>
    <div class="grupo-cards">
    <!--Card-->
    <div class="senai-card">
        <img src="assets/img/cadeira.jpg" alt="Cadeira gamer">
        <div>
            <h4 class="texto-centralizado">Cadeira Gamer  Profissional</h4>
            <p>Akracing Preta/Azul</p>
            <h4 class="texto-centralizado">R$ 799,99</h4>
        </div>
    </div>
    <!--Card-->
    <div class="senai-card">
        <img src="assets/img/fone.png" alt="fone gamer">
        <div>
            <h4 class="texto-centralizado" >Fone de ouvido Gamer  Profissional</h4>
            <p>Kotion Sach Preta/Azul</p>
            <h4 class="texto-centralizado">R$ 480,00</h4>
        </div>
    </div>
    <!--Card-->
    <div class="senai-card">
        <img src="assets/img/mesa.jpg" alt="mesa gamer">
        <div>
            <h4 class="texto-centralizado" >Mesa Gamer</h4>
            <p>Mesa de madeira MDF Preta/Vermelha</p>
            <h4 class="texto-centralizado">R$ 350,00</h4>
        </div>
    </div>
    <!--Card-->
    <div class="senai-card">
        <img src="assets/img/cadeira2.jpg" alt="Cadeira gamer">
        <div>
            <h4 class="texto-centralizado" >Cadeira Gamer  Profissional</h4>
            <p>Altura regulável, com descanso para as pernas</p>
            <h4 class="texto-centralizado">R$ 599,99</h4>
        </div>
    </div>
    <!--Card-->
    <div class="senai-card">
        <img src="assets/img/mesa2.jpg" alt="mesa gamer">
        <div>
            <h4 class="texto-centralizado" >Mesa Gamer</h4>
            <p>Mesa Legend para até 2 monitores Preto/verde</p>
            <h4 class="texto-centralizado">R$ 699,99</h4>
        </div>
    </div>
</div>
<div class="texto-centralizado">
    <a href="#">Saiba mais...</a>
</div>
</section>

