
<header>
    <div id="header">
        <img class="img-logo" src="assets/img/noimage.jpeg" alt="Logotipo da Game Mania">

        <nav id="nav-desktop">
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="">Jogos</a></li>
                <li><a routerLink="">Celulares</a></li>
                <li><a routerLink="">PC Gamer</a></li>
                <li><a routerLink="contato">Contato</a></li>
                <li><a routerLink="">Login</a></li>

            </ul>
        </nav>
    </div>
    <!--menu hamburguer-->
    <div id="menu-ham">
        <img id="img-menu" src="assets/img/menu1.png" alt="Menu Mobile">
    </div>
    <div id="mobile-menu">
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="">Jogos</a></li>
            <li><a routerLink="">Celulares</a></li>
            <li><a routerLink="">PC Gamer</a></li>
            <li><a routerLink="contato">Contato</a></li>
            <li><a routerLink="">Login</a></li>
        </ul>

    </div>
</header>
